## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here

sample_list_1 = random.sample(range(0,101),80)

print(sample_list_1)
print('The length of the list is:', len(sample_list_1))

[38, 39, 56, 62, 63, 72, 69, 76, 23, 16, 84, 43, 58, 89, 25, 50, 81, 61, 78, 34, 49, 94, 14, 55, 97, 57, 65, 91, 83, 36, 12, 27, 19, 88, 82, 44, 17, 48, 86, 10, 20, 54, 80, 11, 96, 5, 79, 59, 71, 51, 32, 46, 93, 87, 99, 85, 30, 64, 74, 92, 6, 73, 37, 21, 26, 24, 98, 28, 52, 77, 2, 60, 70, 68, 66, 4, 67, 29, 100, 40]
The length of the list is: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here

set1 = set(sample_list_1)
print(set1)
print('The length of the set is still:', len(set1))

{2, 4, 5, 6, 10, 11, 12, 14, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 37, 38, 39, 40, 43, 44, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99, 100}
The length of the set is still: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here

sample_list_2 = random.choices(range(0,101), k=80)
print(sample_list_2)
print('The length of the list is:', len(sample_list_2))

[13, 94, 49, 6, 50, 46, 24, 26, 52, 72, 56, 8, 44, 48, 12, 15, 17, 65, 77, 86, 16, 21, 3, 25, 78, 2, 100, 97, 72, 64, 100, 76, 12, 29, 18, 98, 26, 5, 69, 50, 42, 31, 75, 47, 79, 79, 98, 46, 88, 78, 35, 26, 48, 86, 62, 69, 32, 46, 37, 39, 16, 82, 7, 28, 60, 26, 96, 58, 44, 19, 55, 89, 6, 9, 69, 58, 16, 51, 90, 81]
The length of the list is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here

set2 = set(sample_list_2)
print(set2)
print('The length of the set is:', len(set2))

{2, 3, 5, 6, 7, 8, 9, 12, 13, 15, 16, 17, 18, 19, 21, 24, 25, 26, 28, 29, 31, 32, 35, 37, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 55, 56, 58, 60, 62, 64, 65, 69, 72, 75, 76, 77, 78, 79, 81, 82, 86, 88, 89, 90, 94, 96, 97, 98, 100}
The length of the set is: 59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{4, 10, 11, 14, 20, 23, 27, 30, 34, 36, 38, 40, 43, 54, 57, 59, 61, 63, 66, 67, 68, 70, 71, 73, 74, 80, 83, 84, 85, 87, 91, 92, 93, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{3, 35, 7, 8, 9, 42, 75, 13, 15, 47, 18, 90, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 5, 6, 12, 16, 17, 19, 21, 24, 25, 26, 28, 29, 32, 37, 39, 44, 46, 48, 49, 50, 51, 52, 55, 56, 58, 60, 62, 64, 65, 69, 72, 76, 77, 78, 79, 81, 82, 86, 88, 89, 94, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [39]:
# Your code here

print('len(set3) + 2*len(set4) - len(set2) + len(set1) - 1 =', len(set3) + 2*len(set4) - len(set2) + len(set1) - 1)

len(set3) + 2*len(set4) - len(set2) + len(set1) - 1 = 80

#### Create an empty set called `set6`.

In [43]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [44]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{2, 4, 5, 6, 10, 11, 12, 14, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 37, 38, 39, 40, 43, 44, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [45]:
# Your code here

if set1 == set6:
    print('set1 and set6 are equal')
else:
    print('set1 and set6 are not equal')

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [52]:
# Your code here

print('set1 contains set2:', set2.issubset(set1))
print('set1 contains set3:', set3.issubset(set1))

set1 contains set2: False
set1 contains set3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here

if set3.union(set4.union(set5)) == set1.union(set2):
    print('The aggregated values are equal')
else:
    print('The aggregated values are not equal')

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
# Your code here

for i in set1:
    if i < 4:
        set1.pop()
        
print(set1)

{4, 5, 6, 10, 11, 12, 14, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 37, 38, 39, 40, 43, 44, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [79]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{4, 5, 6, 10, 12, 14, 16, 17, 20, 23, 24, 25, 26, 27, 28, 30, 32, 34, 36, 37, 38, 40, 43, 44, 46, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 96, 97, 98, 100}